.button-primary {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0px;
    background: #ffb60a;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.button-secondary {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #ffb60a;
    background: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}